<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="contrainer">
        <div class="navbar">
            <a href="#">Home</a>
            <a href="http://127.0.0.1:5000/people">Team</a>
            <a href="http://127.0.0.1:5000/products">Product</a>
            <a href="http://127.0.0.1:5000/view">View</a>
            
        </div>
        
    </div>
    <div class="main">
        <div class="textmain">
            <h1>Welcome to inventory management system</h1>
            <p>It help you for edit delect add view about <br><br>product in the list and know about information </p>
            <li>What items your have</li>
            <li>Where they are stored</li>
            <li>when to order more</li>
            <li>Which items are selling well</li>
        </div>
        
    </div><br>
   
    <div class="food">
        <h1>This is food</h1>
        <div class="foodd">
            <img src="/static/image/food1.png" alt="">
            <img src="/static/image/food2.png" alt="">
            <img src="/static/image/food3.png" alt="">
            <img src="/static/image/food4.png" alt="">
            <img src="/static/image/food5.png" alt="">
            <img src="/static/image/food6.png" alt="">
            <img src="/static/image/food7.png" alt="">
        </div>
    </div>
    <div class="cloth">
        <h1>This is clothes</h1>
        <div class="clothes">
            <img src="/static/image/cloth1.png" alt="">
            <img src="/static/image/cloth2.png" alt="">
            <img src="/static/image/cloth3.png" alt="">
            <img src="/static/image/cloth4.png" alt="">
            <img src="/static/image/cloth5.png" alt="">
            <img src="/static/image/cloth6.png" alt="">
            <img src="/static/image/cloth7.png" alt="">
        </div>
    </div>
    <div class="fruit">
        <h1>This is fruit</h1>
        <div class="fruits">
            <img src="/static/image/1.png" alt="">
            <img src="/static/image/2.png" alt="">
            <img src="/static/image/3.png" alt="">
            <img src="/static/image/4.png" alt="">
            <img src="/static/image/5.png" alt="">
            <img src="/static/image/6.png" alt="">
            <img src="/static/image/7.png" alt="">
        </div>
    </div>
    <div class="tech">
        <h1>This is technology</h1>
        <div class="technology">
            <img src="/static/image/01.png" alt="">
            <img src="/static/image/02.png" alt="">
            <img src="/static/image/03.png" alt="">
            <img src="/static/image/04.png" alt="">
            <img src="/static/image/05.png" alt="">
            <img src="/static/image/07.png" alt="">
            <img src="/static/image/06.png" alt="">
        </div>
    </div>
  
   

    

</body>
</html>